<!DOCTYPE html>
<html>
  <head>
    <title>Moon - 轻文状态中心</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Moon - 轻文状态中心</a>
          </div>

        </div>
      </nav>
    </header>

    <%= yield %>

  </body>
</html>
