<!DOCTYPE html>
<html>
  <head>
    <title>CIC - 轻文状态中心</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CIC - 轻文状态中心</a>
        </div>
      </div>
    </nav>

    <%= yield %>

  </body>
</html>
